{{ source_folder }}
{{ dest_folder }}
{{ client }}
{{ dev_mode }}
{{ proto }}
{{ remote }}
{{ resolve_retry }}
{{ bind }}
{{ persist }}
{{ ca }}
{{ cert }}
{{ key }}
{{ crypt }}
{{ tls1 }}
{{ tls2 }}
{{ float }}
{{ keepalive }}
{{ compression }}
{{ log }}